
@{
    ViewBag.Title = "Contact";
}
<!-- =============Hero Area============= -->
<section class="hero-area bg_img" data-background="/assets/images/page-header.jpg">
    <div class="container">
        <h1 class="title m-0">my account</h1>
    </div>
</section>
<div class="breadcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
				<a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li>
                Contact
            </li>
        </ul>
    </div>
</div>
<!-- =============Hero Area============= -->
<!--=================Account Section================= -->
<section class="account-section padding-top padding-bottom bg_img bg_bottom_center bg_contain"
         data-background="/assets/images/contact/contact-bg.png">
    <div class="container">
        <div class="account-wrapper">
            <div class="account-area">
                <h3 class="account-title">send us a message</h3>
                <form class="contact-form" id="contact_form_submit">
                    <div class="form-group">
                        <input type="text" id="name" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <input type="text" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea id="message" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group radio-group">
                        <p>Preferred of mode Communication</p>
                        <div class="radio-item">
                            <input type="radio" checked name="mode" id="mode01">
                            <label for="mode01">Email</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" name="mode" id="mode02">
                            <label for="mode02">Phone</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--=================Account Section================= -->
<!--=================Contact Info Section================= -->
<section class="office-info padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <h2 class="title">
                office contact info
            </h2>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-md-6 col-sm-10 col-lg-4">
                <div class="contact-item">
                    <div class="contact-thumb">
                        <!-- <img src="./~/assets/images/contact/destination.png" alt="contact"> -->
                        <i class="flaticon-route"></i>
                    </div>
                    <div class="contact-content">
                        <h4 class="title">office address</h4>
                        <ul>
                            <li>Pakistan , Karachi</li>
							<li>SD-1, Block A North Nazimabad</li>
							<li>PO:(021) 36630102</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-10 col-lg-4">
                <div class="contact-item">
                    <div class="contact-thumb">
                        <!-- <img src="./~/assets/images/contact/call.png" alt="contact"> -->
                        <i class="flaticon-call-center"></i>
                    </div>
                    <div class="contact-content">
                        <h4 class="title">phone number</h4>
                        <ul>
                            <li><a href="Tel:939383883890">01478-878-6578-24545</a></li>
                            <li><a href="Tel:939383883890">024178-2457-658777</a></li>
                            <li><a href="Tel:939383883890">05478454254-10</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-10 col-lg-4">
                <div class="contact-item">
                    <div class="contact-thumb">
                        <!-- <img src="./~/assets/images/contact/worldwide.png" alt="contact"> -->
                        <i class="flaticon-global"></i>
                    </div>
                    <div class="contact-content">
                        <h4 class="title">email address</h4>
                        <ul>
                            <li>
                                <a href="Mailto:softkingsupport.com">softkingsupport.com</a>
                            </li>
                            <li>
                                <a href="Mailto:wwwsmsio145.com">wwwsmsio145.com</a>
                            </li>
                            <li>
                                <a href="Mailto:support24/7.com">support24/7.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Contact Info Section================= -->
<!--=================Maps Section================= -->
<div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Aptech%20north%20nazimabad+(Aptech)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/truck-gps/">transport gps</a></iframe></div>
<!--=================Maps Section================= -->


