
@{
    ViewBag.Title = "locationbased";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- =============Hero Area============= -->
<section class="hero-area bg_img" data-background="/assets/images/page-header.jpg">
    <div class="container">
        <h1 class="title m-0">location based SMS</h1>
    </div>
</section>
<div class="breadcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Services","Home")">Services</a>
            </li>
            <li>
                location based SMS
            </li>
        </ul>
    </div>
</div>
<!-- =============Hero Area============= -->
<!--=================Location Based Service Section================ -->
<section class="location-based-service padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="location-based-left">
                    <h2 class="title">you can get our location based sms service</h2>
                    <h6 class="sub-title">If you have multiple locations, then sending promotional texts based on a subscriber's location is critical. It's also easier than you think.</h6>
                    <p>
                        Location-based SMS advertising involves sending your customers text promotions based on their geographical area. For example, say you run a furniture company–Bob’s Furniture–in Los Angeles with three showrooms in Ventura, Palmdale, and Long Beach. Factoring in LA’s notorious traffic, each location is at least a two hours drive apart.
                    </p>
                    <p>The likelihood is that your Ventura customers aren’t going to care about an SMS campaign you are running in your Long Beach location. So, you have three options here: Firstly, you can send everyone the same texts and have people receive texts they can’t act on and are likely to unsubscribe. Secondly, you can try and run the same promotions across all three showrooms, severely limiting your ability to deal with location-specific ebbs and flows.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="l-b-thumb">
                    <img src="~/assets/images/service/location-based-service01.jpg" alt="service">
                </div>
            </div>
        </div>
        <div class="feature-area style-two w-100 text-left">
            <div class="feature-item">
                <div class="icon">
                    <i class="flaticon-customer-service"></i>
                </div>
                <div class="feature-content">
                    <h5 class="title">100% SMS Delivery</h5>
                    <p>Choosing reliable partners implementing read receipts or falling back to a different process or number, you can keep your SMS Deliverability rate close to 100%.</p>
                </div>
            </div>
            <div class="feature-item">
                <div class="icon">
                    <i class="flaticon-newspaper"></i>
                </div>
                <div class="feature-content">
                    <h5 class="title">unlimited validity</h5>
                    <p>Choosing reliable partners implementing read receipts or falling back to a different process or number, you can keep your SMS Deliverability rate close to 100%.</p>
                </div>
            </div>
            <div class="feature-item">
                <div class="icon">
                    <i class="flaticon-money"></i>
                </div>
                <div class="feature-content">
                    <h5 class="title">lowest cost</h5>
                    <p>SMS pricing is based on the destination and type of message you’re sending, as well as the carrier to which the SMS is being sent.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Location Based Service Section================ -->
<!--=================Overview Three Section================ -->
<section class="overview-three bg-ash">
    <div class="container-fluid pl-lg-0">
        <div class="row m-0">
            <div class="col-lg-6 bg_img p-0" data-background="/assets/images/overview/overview-bg05.jpg"></div>
            <div class="col-lg-6 p-0">
                <div class="overview-three-content padding-top padding-bottom ml-lg-15-xl">
                    <h2 class="title">why use location based sms service</h2>
                    <p>
                        Location-based SMS allows networks to customise messages for vulnerable groups and to send individuals messages even after they’ve left an affected area, particularly useful if follow-up medical treatment is needed, for example, after a chemical attack. It also has greater potential for ‘precision targeting’ geographically. Cell Broadcast services are based on current location, but because they’re cell-based they are, by their nature, potentially less ‘granular’.
                    </p>
                    <ul class="bullet-list">
                        <li>
                            Bi-directionality
                        </li>
                        <li>
                            Reliability
                        </li>
                        <li>
                            Compatibility and reach
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Overview Three Section================ -->
<!--=================Non Masking Video Section================ -->
<section class="non-masking-sms-section-overview location-based padding-bottom padding-top">
    <div class="container-fluid p-lg-0">
        <div class="row m-0 flex-wrap-reverse justify-content-between">
            <div class="col-lg-6 p-0">
                <div class="overview-non-masking-left mr-lg-15-xl mt-0">
                    <span class="cate">service benifit</span>
                    <h2 class="title">
                        what's benifts location based
                    </h2>
                    <p>
                        While many location-based offers are designed to attract new customers, location-based services are also a way to find out more about your existing customers. User reviews will tell you exactly what your customers are thinking, while take-up rates for particular offers will provide insights into customer preferences.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="thumb text-center">
                    <img src="~/assets/images/overview/overview-map01.png" alt="overview">
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Non Masking Video Section================ -->
<!--=================Counter================= -->
<section class="counter-up-section">
    <div class="container">
        <div class="counter-wrapper">
            <div class="counter-item">
                <div class="counter-header">
                    <i class="flaticon-call-center"></i>
                    <h2 class="title">
                        <span class="counter">1000</span>+
                    </h2>
                </div>
                <p>Support Countries</p>
            </div>
            <div class="counter-item">
                <div class="counter-header">
                    <i class="flaticon-happiness"></i>
                    <h2 class="title">
                        <span class="counter">35</span>k
                    </h2>
                </div>
                <p>happy customers</p>
            </div>
            <div class="counter-item">
                <div class="counter-header">
                    <i class="flaticon-project"></i>
                    <h2 class="title">
                        <span class="counter">230</span>
                    </h2>
                </div>
                <p>total project done</p>
            </div>
            <div class="counter-item">
                <div class="counter-header">
                    <i class="flaticon-collaboration"></i>
                    <h2 class="title">
                        <span class="counter">658</span>
                    </h2>
                </div>
                <p>team members</p>
            </div>
        </div>
    </div>
</section>
<!--=================Counter================= -->
<!--=================Service Process================= -->
<section class="process-service bg-f8 padding-bottom padding-top">
    <div class="container">
        <div class="service-area-pro bg_img bg-contain" data-background="/assets/images/service/service-pro-map.png">
            <div class="section-header">
                <span class="cate">service process</span>
                <h2 class="title">get service by 3 step</h2>
            </div>
            <div class="service-pro-area">
                <div class="service-pro-item">
                    <div class="service-pro-thumb">
                        <img src="~/assets/images/service/service-pro04.jpg" alt="service">
                    </div>
                    <div class="service-pro-content">
                        <h5 class="title">registration</h5>
                    </div>
                </div>
                <div class="service-pro-item">
                    <div class="service-pro-thumb">
                        <img src="~/assets/images/service/service-pro05.jpg" alt="service">
                    </div>
                    <div class="service-pro-content">
                        <h5 class="title">choose plan</h5>
                    </div>
                </div>
                <div class="service-pro-item">
                    <div class="service-pro-thumb">
                        <img src="~/assets/images/service/service-pro06.jpg" alt="service">
                    </div>
                    <div class="service-pro-content">
                        <h5 class="title">get services</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Service Process================= -->