
@{
	ViewBag.Title = "masksms";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- =============Hero Area============= -->
<section class="hero-area bg_img" data-background="/assets/images/page-header.jpg">
	<div class="container">
		<h1 class="title m-0">masking SMS</h1>
	</div>
</section>
<div class="breadcrumb-section">
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="@Url.Action("Index","Home")">Home</a>
			</li>
			<li>
				<a href="@Url.Action("Services","Home")">Services</a>
			</li>
			<li>
				masking sms
			</li>
		</ul>
	</div>
</div>
<!-- =============Hero Area============= -->
<!--=================Bulk Sms================= -->
<section class="bulk-sms mask-sms padding-top">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="bulk-thumb">
					<img src="~/assets/images/bulk/bulk02.png" alt="bulk">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="bulk-content text-center text-sm-left">
					<span>services Benefits</span>
					<h2 class="title">what's Benefits masking SMS</h2>
					<p>
						SMS masking emerges to anticipate possible doubtful remarks from would-be recipients on the validity of a marketing text. This innovation can tackle spammy reputation that may attach to a marketing text without clear identity in the first place.

						SMS masking refers to an SMS broadcast service that allows a sender to bring up its brand, organization or company name in a recipient’s cellular phone screen. They can, too, customize that into product or service name.

						SMS masking makes a marketing text or information more credible and professional. Would-be recipients will get good impression and most likely open your marketing text. They won’t think of it as illegal SMS or spam one. The use of SMS masking depends on a company’s contract with an SMS provider.
					</p>
					<ul class="bullet-list">
						<li>
							It is reliable.
						</li>
						<li>
							SMSes are paid for.
						</li>
						<li>
							SMS is versatile.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Bulk Sms================= -->
<!--=================Bulk Sms================= -->
<section class="bulk-sms padding-top padding-bottom">
	<div class="container">
		<div class="row flex-wrap-reverse align-items-center">
			<div class="col-lg-6">
				<div class="bulk-content text-center text-sm-left">
					<span>welcome</span>
					<h2 class="title">Online SMS Service</h2>
					<p>Online SMS marketing is a way of communicating with a wide range of customers using mobile technology. With our SMS marketing service, your business is able to contact thousands of potential customers in Australia and around the world with special offerings and discount pricing, delivering your message right to their back pocket.</p>
					@Html.ActionLink("Check Services", "Services", "Home", new { @class = "custom-button active" })
				</div>
			</div>
			<div class="col-lg-6">
				<div class="bulk-thumb">
					<img src="~/assets/images/bulk/bulk01.png" alt="bulk">
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Bulk Sms================= -->
<!--=================Our Feature================= -->
<section class="feature-section padding-top padding-bottom">
	<div class="container">
		<div class="section-header">
			<span class="cate">our feature</span>
			<h2 class="title">masking SMS feature</h2>
		</div>
		<div class="feature-section-wrapper">
			<div class="feature-area">
				<div class="feature-item">
					<div class="icon">
						<i class="flaticon-customer-service"></i>
					</div>
					<div class="feature-content">
						<h5 class="title">100% SMS Delivery</h5>
						<p>
							Choosing reliable partners implementing read receipts or falling back to a different process or number, you can keep your SMS Deliverability rate close to 100%.
						</p>
					</div>
				</div>
				<div class="feature-item">
					<div class="icon">
						<i class="flaticon-newspaper"></i>
					</div>
					<div class="feature-content">
						<h5 class="title">Unlimited Validity</h5>
						<p>
							Online SMS brings its customers the Infinity Bundle Package giving them 100 SMS while offering unlimited validity for the package.
						</p>
					</div>
				</div>
			</div>
			<div class="feature-area">
				<img src="~/assets/images/feature/feature01.png" alt="feature">
			</div>
			<div class="feature-area">
				<div class="feature-item">
					<div class="icon">
						<i class="flaticon-money"></i>
					</div>
					<div class="feature-content">
						<h5 class="title">lowest cost</h5>
						<p>
							SMS pricing is based on the destination and type of message you’re sending, as well as the carrier to which the SMS is being sent.
						</p>
					</div>
				</div>
				<div class="feature-item">
					<div class="icon">
						<i class="flaticon-newspaper-1"></i>
					</div>
					<div class="feature-content">
						<h5 class="title">Delivery report</h5>
						<p>
							The message from an SMCS (Short Message Service Center) that notifies you that your SMS message sent from your device was delivered to the intended recipient.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Our Feature================= -->

