
@{
	ViewBag.Title = "nonmasksms";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- =============Hero Area============= -->
<section class="hero-area bg_img" data-background="/assets/images/page-header.jpg">
	<div class="container">
		<h1 class="title m-0">Non-Masking SMS</h1>
	</div>
</section>
<div class="breadcrumb-section">
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="@Url.Action("Index","Home")">Home</a>
			</li>
			<li>
				<a href="@Url.Action("Services","Home")">Services</a>
			</li>
			<li>
				Non-Masking SMS
			</li>
		</ul>
	</div>
</div>
<!-- =============Hero Area============= -->
<!--=================Benifit Of Non-Masking Section================ -->
<section class="benifit-section padding-top padding-bottom">
	<div class="container mw-xxl-100 pr-xl-0">
		<div class="row m-0 align-items-center">
			<div class="col-xl-7 p-0">
				<div class="benifit-left text-center text-md-left">
					<div class="cate">service Benefits</div>
					<h2 class="title">what's Benefits non-masking SMS</h2>
					<p>Sms marketing will generate more new customers. Extra enterprise can be originated from current clients. Gross earnings margin ought to be stepped forward. Extremely cost powerful. No or little waste. </p>
					<div class="benifit-bottom">
						<div class="feature-item">
							<div class="icon">
								<i class="flaticon-customer-service"></i>
							</div>
							<div class="feature-content">
								<h5 class="title">100% SMS Delivery</h5>
								<p>
									choosing reliable partners implementing read receipts or falling back to a different process or number, you can keep your SMS Deliverability rate close to 100%.
								</p>
							</div>
						</div>
						<div class="feature-item">
							<div class="icon">
								<i class="flaticon-newspaper"></i>
							</div>
							<div class="feature-content">
								<h5 class="title">unlimited validity</h5>
								<p>
									Online SMS brings its customers the Infinity Bundle Package giving them 100 SMS while offering unlimited validity for the package.
								</p>
							</div>
						</div>
						<div class="feature-item">
							<div class="icon">
								<i class="flaticon-money"></i>
							</div>
							<div class="feature-content">
								<h5 class="title">lowest cost</h5>
								<p>
									SMS pricing is based on the destination and type of message you’re sending, as well as the carrier to which the SMS is being sent.
								</p>
							</div>
						</div>
						<div class="feature-item">
							<div class="icon">
								<i class="flaticon-newspaper-1"></i>
							</div>
							<div class="feature-content">
								<h5 class="title">delivery report</h5>
								<p>
									The message from an SMCS (Short Message Service Center) that notifies you that your SMS message sent from your device was delivered to the intended recipient.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-5 p-0 d-none d-xl-block">
				<div class="benifit-thumb text-right">
					<img src="~/assets/images/overview/benifit-01.png" alt="overview">
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Benifit Of Non-Masking Section================ -->
<!--=================Non Masking Video Section================ -->
<section class="non-masking-sms-section-overview bg-f8">
	<div class="container-fluid p-lg-0">
		<div class="row m-0 flex-wrap-reverse justify-content-between">
			<div class="col-lg-6 p-0">
				<div class="overview-non-masking-left padding-top padding-bottom mr-lg-15-xl">
					<h2 class="title">
						worldwide non-masking SMS service
					</h2>
					<p class="header-para">
						Aspernatur, corporis, magni, deleniti recusandae aperiam quia vero sunt quae impedit neque tempora.
					</p>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta excepturi necessitatibus quod ipsum animi illo dolores tempora, asperiores impedit cum quibusdam laudantium totam quidem maxime ea tempore natus porro! Magnam.
						Reiciendis, voluptate sed aliquid deserunt reprehenderit ab enim
					</p>
					<ul class="bullet-list">
						<li>
							Vestibulum id rhoncus tempus
						</li>
						<li>
							Tellus fermentum a aenean
						</li>
						<li>
							Pulvinar cursus imperdiet
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-xl-5 p-0">
				<div class="w-100 h-100 non-m-video-section bg_img" data-background="~/assets/images/overview/overview-bg03.jpg">
					<a data-rel="lightcase:myCollection" href="https://www.youtube.com/embed/GT6-H4BRyqQ" class="video-button">
						<i class="flaticon-play-button-1 m-0"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Non Masking Video Section================ -->
<!--=================Non Masking Video Section================ -->
<section class="non-masking-sms-section-overview style-two bg-f8">
	<div class="container-fluid p-lg-0">
		<div class="row m-0 justify-content-between">
			<div class="col-lg-6 col-xl-5 p-0">
				<div class="w-100 h-100 bg_img"
					 data-background="~/assets/images/overview/overview-bg04.jpg">
					<img class="d-lg-none w-100" src="~/assets/images/overview/overview-bg04.jpg" alt="overview">
				</div>
			</div>
			<div class="col-lg-6 col-xl-7 p-0">
				<div class="overview-non-masking-left padding-top padding-bottom ml-lg-15-xl">
					<h2 class="title">
						100% secure platform for Non-masking SMS
					</h2>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam odit repellendus odio! Sequi voluptates recusandae vel quisquam corrupti, assumenda obcaecati ipsa quas perferendis tempora nobis consequatur id expedita dicta quibusdam! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p class="mt-0">
						Vestibulum wisi ac pharetra vitae maecenas, eu dui mauris mi et, facere nam curabitur nunc
						pellentesque molestie et, maecenas ultricies, conubia aliquam mauris, sit id lectus
						convallis vel mi. Libero quisque, ornare lacus
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Non Masking Video Section================ -->
<!--=================Price Plan================= -->
<section class="price-section padding-bottom padding-top">
	<div class="container">
		<div class="section-header">
			<span class="cate">pricing plan</span>
			<h2 class="title">bulk SMS price plan</h2>
		</div>
		<div class="row mb-30-none justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="price-item">
					<div class="price-header">
						<span class="category">masking SMS</span>
						<h3 class="sub-title">0.33$<span>sms</span></h3>
					</div>
					<ul>
						<li>
							<span>validity</span>06 Month
						</li>
						<li>
							<span>quantity</span>600 SMS
						</li>
						<li>
							<span>discount</span>05%
						</li>
						<li>
							<span>24/7</span>yes
						</li>
						<li>
							<span>worldwide access</span>yes
						</li>
						<li>
							<a href="#0" class="custom-button">try now</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="price-item">
					<div class="price-header">
						<span class="category">non-masking SMS</span>
						<h3 class="sub-title">0.23$<span>sms</span></h3>
					</div>
					<ul>
						<li>
							<span>validity</span>06 Month
						</li>
						<li>
							<span>quantity</span>600 SMS
						</li>
						<li>
							<span>discount</span>05%
						</li>
						<li>
							<span>24/7</span>yes
						</li>
						<li>
							<span>worldwide access</span>yes
						</li>
						<li>
							<a href="#0" class="custom-button">try now</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="price-item">
					<div class="price-header">
						<span class="category">voice message</span>
						<h3 class="sub-title">0.40$<span>sms</span></h3>
					</div>
					<ul>
						<li>
							<span>validity</span>06 Month
						</li>
						<li>
							<span>quantity</span>600 SMS
						</li>
						<li>
							<span>discount</span>05%
						</li>
						<li>
							<span>24/7</span>yes
						</li>
						<li>
							<span>worldwide access</span>yes
						</li>
						<li>
							<a href="#0" class="custom-button">try now</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Price Plan================= -->
<!--=================Get Service================== -->
<section class="bg-f8 get-service padding-top padding-bottom">
	<div class="container">
		<div class="section-header">
			<span class="cate">get service</span>
			<h2 class="title">get your best service</h2>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h4 class="title">
					try for your SMS Pack
				</h4>
				<form class="service-form">
					<div class="form-group">
						<input type="text" placeholder="First Name*">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Last Name*">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Company">
					</div>
					<div class="form-group">
						<select class="select-bar">
							<option value="plan">choose plan</option>
							<option value="gold">gold</option>
							<option value="platinum">platinum</option>
							<option value="standard">standard</option>
							<option value="silver">silver</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" placeholder="Phone">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Email">
					</div>
					<div class="form-group">
						<select class="select-bar">
							<option value="country">Country</option>
							<option value="usa">USA</option>
							<option value="japan">Japan</option>
							<option value="india">India</option>
							<option value="pakistan">Pakistan</option>
							<option value="bangladesh">Bangladesh</option>
							<option value="uganda">Uganda</option>
						</select>
					</div>
					<div class="form-group">
						<select class="select-bar">
							<option value="currency">Currency</option>
							<option value="doler">Doler</option>
							<option value="riyal">Riyal</option>
							<option value="taka">Taka</option>
							<option value="rupi">Rupi</option>
							<option value="derham">Derham</option>
							<option value="mal">Mal</option>
						</select>
					</div>
					<div class="form-group w-100">
						<textarea placeholder="Address"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" value="Submit Now">
					</div>
				</form>
			</div>
			<div class="col-lg-6">
				<h4 class="title">
					payment method
				</h4>
				<p>Menenatis malesuada at vestibulum, proin at nubndit iaculis nullam ut, massa hac, arcu adipiscing in vel ac amet, sollicitudin tempus dictum donec lorem libero. Turpis integer ac, suspendisse felis, consectetuer odio, volutpat consectetuer erat tortor Euismod etiam, et mi, elit aliquam hymenaeos porta mattis phasellus sapien. Orci luctus ligula aliquam, morbi tempor donec, vitae et mauris justo </p>
				<div class="chekgroup">
					<div class="form-group">
						<input name="payment" checked id="paypal" type="radio">
						<label for="paypal">Paypal</label>
					</div>
					<div class="form-group">
						<input name="payment" type="radio" id="m-card">
						<label for="m-card">Mastercard</label>
					</div>
					<div class="form-group">
						<input name="payment" type="radio" id="payoneer">
						<label for="payoneer">Payoneer</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Get Service================== -->
