
@{
	ViewBag.Title = "Promosms";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- =============Hero Area============= -->
<section class="hero-area bg_img" data-background="/assets/images/page-header.jpg">
	<div class="container">
		<h1 class="title m-0">promotional SMS</h1>
	</div>
</section>
<div class="breadcrumb-section">
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="@Url.Action("Index","Home")">Home</a>
			</li>
			<li>
				<a href="@Url.Action("Services","Home")">Services</a>
			</li>
			<li>
				promotional messages
			</li>
		</ul>
	</div>
</div>
<!-- =============Hero Area============= -->
<!--=================Feature Section================= -->
<section class="feature-section padding-bottom padding-top">
	<div class="container">
		<div class="row justify-content-center mb-30-none">
			<div class="col-sm-10 col-md-6 col-lg-4">
				<div class="feature-item-three">
					<i class="flaticon-customer-service"></i>
					<h5 class="title">100% SMS Delivery</h5>
					<p>Etiam est laoreet metus marcu, consectetuer tidunt lacus risus purus worldwide.</p>
				</div>
			</div>
			<div class="col-sm-10 col-md-6 col-lg-4">
				<div class="feature-item-three">
					<i class="flaticon-newspaper"></i>
					<h5 class="title">unlimited validity</h5>
					<p>Etiam est laoreet metus marcu, consectetuer tidunt lacus risus purus worldwide.</p>
				</div>
			</div>
			<div class="col-sm-10 col-md-6 col-lg-4">
				<div class="feature-item-three">
					<i class="flaticon-money"></i>
					<h5 class="title">easy payment</h5>
					<p>Etiam est laoreet metus marcu, consectetuer tidunt lacus risus purus worldwide.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Feature Section================= -->
<!--=================Overview Four================= -->
<section class="overview-four-section padding-bottom">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="overview-thumb text-right">
					<img src="~/assets/images/service/voice-message03.png" alt="overview-thumb">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="overview-four-content sp-align ml-lg-15-xl">
					<h2 class="title">we build easy way for your promotional sms</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nobis tenetur dolore similique placeat sequi quasi deleniti sed libero! Asperiores minima architecto iure consectetur voluptate dolor officiis provident explicabo atque!</p>
					<p>
						Veniam repudiandae, vel dolores reiciendis excepturi ab eveniet, ducimus quasi nesciunt quam sequi ut aliquid laborum ipsum, eaque illo. Fugit, iusto iste! Odio, laboriosam quidem. Consequuntur quisquam dicta modi magni.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Overview Four================= -->
<!--=================Overview Section================= -->
<section class="overview-two-section bg-ash">
	<div class="container-fluid p-lg-0">
		<div class="row m-0 justify-content-between">
			<div class="col-lg-6 px-0 col-xl-5">
				<div class="overview-two-thumb w-100 h-100 bg_img d-flex align-items-end"
					 data-background="~/assets/images/overview/overview-bg02.jpg">
					<div class="overview-play-item">
						<div class="o-play-thumb">
							<a href="https://www.youtube.com/embed/GT6-H4BRyqQ" data-rel="lightcase:myCollection"
							   class="video-button">
								<i class="flaticon-play-button"></i>
							</a>
						</div>
						<div class="o-play-content">
							<h4 class="sub-title">
								<a href="#0">mricali rockgun</a>
							</h4>
							<p>CEO &amp; Funder , Messon</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xl-7 padding-bottom padding-top">
				<div class="overview-two-content ml-lg-15-xl">
					<div class="overview-header-area">
						<h2 class="title">
							why people Choose Our bulk sms service
						</h2>
						<p>Menenatis malesuada at vestibulum, proin at nubndit iaculis nullam ut, massa hac</p>
					</div>
					<div class="overview-item-area">
						<div class="overview-item-item">
							<h5 class="sub-title">24/7 support</h5>
							<p>Amet mus venenatis dictucator amet wingty king primed</p>
						</div>
						<div class="overview-item-item">
							<h5 class="sub-title">notification sms</h5>
							<p>Amet mus venenatis dictucator amet wingty king primed</p>
						</div>
						<div class="overview-item-item">
							<h5 class="sub-title">fast messages</h5>
							<p>Amet mus venenatis dictucator amet wingty king primed</p>
						</div>
						<div class="overview-item-item">
							<h5 class="sub-title">100% Secure</h5>
							<p>Amet mus venenatis dictucator amet wingty king primed</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Overview Section================= -->
<!--=================Price Plan================= -->
<section class="price-section padding-top padding-bottom">
	<div class="container">
		<div class="section-header">
			<span class="cate">pricing plan</span>
			<h2 class="title">bulk SMS price plan</h2>
		</div>
		<div class="row mb-30-none justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="price-item-two price-item">
					<div class="price-header style-two">
						<div class="icon">
							<i class="flaticon-customer-service"></i>
						</div>
						<span class="category">masking SMS</span>
						<h3 class="sub-title">0.33$<span>sms</span></h3>
					</div>
					<ul>
						<li>
							<span>validity</span>06 Month
						</li>
						<li>
							<span>quantity</span>600 SMS
						</li>
						<li>
							<span>discount</span>05%
						</li>
						<li>
							<span>24/7</span>yes
						</li>
						<li>
							<span>worldwide access</span>yes
						</li>
						<li>
							<a href="#0" class="custom-button">try now</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="price-item-two price-item">
					<div class="price-header style-two">
						<div class="icon">
							<i class="flaticon-briefcase"></i>
						</div>
						<span class="category">non-masking SMS</span>
						<h3 class="sub-title">0.23$<span>sms</span></h3>
					</div>
					<ul>
						<li>
							<span>validity</span>06 Month
						</li>
						<li>
							<span>quantity</span>600 SMS
						</li>
						<li>
							<span>discount</span>05%
						</li>
						<li>
							<span>24/7</span>yes
						</li>
						<li>
							<span>worldwide access</span>yes
						</li>
						<li>
							<a href="#0" class="custom-button">try now</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="price-item-two price-item">
					<div class="price-header style-two">
						<div class="icon">
							<i class="flaticon-diamond"></i>
						</div>
						<span class="category">voice message</span>
						<h3 class="sub-title">0.40$<span>sms</span></h3>
					</div>
					<ul>
						<li>
							<span>validity</span>06 Month
						</li>
						<li>
							<span>quantity</span>600 SMS
						</li>
						<li>
							<span>discount</span>05%
						</li>
						<li>
							<span>24/7</span>yes
						</li>
						<li>
							<span>worldwide access</span>yes
						</li>
						<li>
							<a href="#0" class="custom-button">try now</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Price Plan================= -->

