
@{
	ViewBag.Title = "Voice";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- =============Hero Area============= -->
<section class="hero-area bg_img" data-background="/assets/images/page-header.jpg">
	<div class="container">
		<h1 class="title m-0">voice messages</h1>
	</div>
</section>
<div class="breadcrumb-section">
	<div class="container">
		<ul class="breadcrumb">
			<li>
				<a href="@Url.Action("Index","Home")">Home</a>
			</li>
			<li>
				<a href="@Url.Action("Services","Home")">Services</a>
			</li>
			<li>
				voice messages
			</li>
		</ul>
	</div>
</div>
<!-- =============Hero Area============= -->
<!--=================Voice Message================= -->
<section class="voice-message padding-bottom padding-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="voice-thumb">
					<img src="~/assets/images/service/voice-message01.png" alt="service">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="voice-content">
					<h2 class="title">100% secure platform for voice messages</h2>
					<p>
						Veritatis atque exercitationem debitis porro. Provident quis voluptatum sed, minus animi eum quia officiis eius unde recusandae velit officia ad harum deleniti nihil illo suscipit odit! Repellat ducimus eveniet ipsam.
						Minus aspernatur harum reiciendis saepe aliquam esse sequi dolore, vel a quia pariatur? Vel explicabo, eaque beatae qui amet nulla cumque ducimus excepturi, at eos ipsam sapiente quidem sit. Possimus? veritatis magni optio esse veniam reiciendis vitae et reprehenderit deserunt corporis harum possimus dolore!
					</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center text-center feature-two-area">
			<div class="col-md-6 col-lg-4 col-sm-10">
				<div class="feature-item-two">
					<div class="icon">
						<i class="flaticon-customer-service"></i>
					</div>
					<div class="feature-content">
						<h5 class="title">100% SMS Delivery</h5>
						<p>Etiam est laoreet metus mi arcu, consectetuer tidunt lacus risus purus worldwide.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-sm-10">
				<div class="feature-item-two">
					<div class="icon">
						<i class="flaticon-newspaper"></i>
					</div>
					<div class="feature-content">
						<h5 class="title">unlimited validity</h5>
						<p>Etiam est laoreet metus mi arcu, consectetuer tidunt lacus risus purus worldwide.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-sm-10">
				<div class="feature-item-two">
					<div class="icon">
						<i class="flaticon-money"></i>
					</div>
					<div class="feature-content">
						<h5 class="title">lowest cost</h5>
						<p>Etiam est laoreet metus mi arcu, consectetuer tidunt lacus risus purus worldwide.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Voice Message================= -->
<!--=================Benifit Of Voice Message================= -->
<section class="overview-section bg-ash">
	<div class="container-fluid p-lg-0">
		<div class="row m-0 flex-wrap-reverse justify-content-between">
			<div class="col-lg-6 padding-bottom padding-top">
				<div class="overview-one-content mr-lg-15-xl">
					<h2 class="title">Benefits of voice message</h2>
					<p>
						Menenatis malesuada at vestibulum, proin at nubndi culis nullam ut, massa hac, arcu
						adipiscing in vel ac amesludin tempus dictum donec lorem libero. Turpis integer ac,
						suspendisse felis, consectetuer odio, volutpat consectetuer erat tortor wingin driving oder
						man
					</p>
					<ul class="bullet-list">
						<li>
							Vestibulum id rhoncus tempus
						</li>
						<li>
							Tellus fermentum a aenean
						</li>
						<li>
							Pulvinar cursus imperdiet
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 p-0 col-xl-5">
				<div class="overview-one-thumb w-100 h-100 bg_img" data-background="~/assets/images/overview/overview-bg06.jpg">
					<img class="d-lg-none" src="~/assets/images/overview/overview-bg06.jpg" alt="overview">
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Benifit Of Voice Message================= -->
<!--=================Price Plan================= -->
<section class="price-section padding-top padding-bottom">
	<div class="container">
		<div class="section-header">
			<span class="cate">pricing plan</span>
			<h2 class="title">bulk SMS price plan</h2>
		</div>
		<div class="row mb-30-none justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="price-item price-item-three">
					<div class="price-header">
						<div class="icon">
							<i class="flaticon-conversation"></i>
						</div>
						<span class="category">masking SMS</span>
						<h3 class="sub-title">0.33$<span>sms</span></h3>
					</div>
					<ul>
						<li>
							<span>validity</span>06 Month
						</li>
						<li>
							<span>quantity</span>600 SMS
						</li>
						<li>
							<span>discount</span>05%
						</li>
						<li>
							<span>24/7</span>yes
						</li>
						<li>
							<span>worldwide access</span>yes
						</li>
						<li>
							<a href="#0" class="custom-button">try now</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="price-item price-item-three">
					<div class="price-header">
						<div class="icon">
							<i class="flaticon-briefcase"></i>
						</div>
						<span class="category">non-masking SMS</span>
						<h3 class="sub-title">0.23$<span>sms</span></h3>
					</div>
					<ul>
						<li>
							<span>validity</span>06 Month
						</li>
						<li>
							<span>quantity</span>600 SMS
						</li>
						<li>
							<span>discount</span>05%
						</li>
						<li>
							<span>24/7</span>yes
						</li>
						<li>
							<span>worldwide access</span>yes
						</li>
						<li>
							<a href="#0" class="custom-button">try now</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="price-item price-item-three">
					<div class="price-header">
						<div class="icon">
							<i class="flaticon-diamond"></i>
						</div>
						<span class="category">voice message</span>
						<h3 class="sub-title">0.40$<span>sms</span></h3>
					</div>
					<ul>
						<li>
							<span>validity</span>06 Month
						</li>
						<li>
							<span>quantity</span>600 SMS
						</li>
						<li>
							<span>discount</span>05%
						</li>
						<li>
							<span>24/7</span>yes
						</li>
						<li>
							<span>worldwide access</span>yes
						</li>
						<li>
							<a href="#0" class="custom-button">try now</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Price Plan================= -->
<!--=================Why Need Voice Message================= -->
<section class="voice-message-need bg-ash padding-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 align-self-end">
				<div class="voice-thumb wow slideInLeft" data-wow-delay=".3s" data-wow-duration="1.4s">
					<img src="~/assets/images/service/voice-message02.png" alt="service">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="voice-content padding-bottom">
					<h2 class="title">
						why need voice message for your client
					</h2>
					<p>
						Litora earum viverra blandit nonummy mauris, felis etiam in et integer massa viverra,
						bibendum vestibulum qui placeat duis justo tincidunt. Mauris tristique sagittis fusce
						quipien rutrum in platea scelerisque. Est donec, ut nostra, odio tellus
						Bibendum morbi donec dui libero suscipit orci, dui montes imperdiet augue mauris egestas.
						Massa elementum tidunt.
					</p>
					<div class="video-button-area">
						<a href="https://www.youtube.com/embed/GT6-H4BRyqQ" data-rel="lightcase:myCollection" class="video-button">
							<i class="flaticon-play-button"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================Why Need Voice Message================= -->